@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.container{
    @apply mx-auto px-4;
}

@theme {
    --color-blue-950: #161F2C;
}

/* Tashqi kulrang qobiq */
.toggle-container {
  width: 40px;
  height: 20px;
  background-color: #ccc; /* O'chiq holati */
  border-radius: 15px;
  padding: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.toggle-circle {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease; /* Silliq harakat */
}

/* Bosilganda o'ngga surish */
.active .toggle-circle {
  transform: translateX(22px); /* Konteyner kengligiga qarab moslang */
}